<h1>HIP Instructions</h1>

<p>Please follow the steps below:</p>

<ul>
  <li>Please click <a href="http://www.emblemhealth.com/Providers" target="_blank">Here</a> to check eligibility.</li>
  <li>If patient is eligible, enter patient insurance under HIP.</li>
</ul>
